=================================================
#141
=================================================

####app/views/pages/home.html.erb
<div class="jumbotron text-center">
  <h1>Welcome to Dev Match</h1>
  <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Membership</h2>
      <h4>Sign up for free and get basic access to the community.</h4>
      <br/>
      <%= link_to "Sign up with Basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Pro Membership</h2>
      <h4>Sign up for the pro account for $10/month and get access to the community and contact information!</h4>
      <%= link_to "Sign up with Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>


####app/views/layouts/application.html.erb
remove this line:
<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success navbar-btn', method: :get %>


####console commands
git add .
git commit -m "Added sign up links to home page"
git push origin stripe_integration


=================================================
#140
=================================================

####app/models/plan.rb
class Plan < ActiveRecord::Base
  has_many :users
end

####app/models/user.rb
...
belongs_to :plan
...


####console commands
bundle exec rails g migration AddPlanToUser


####db/migrate/xyz_add_plan_to_user.rb
class AddPlanToUser < ActiveRecord::Migration
  def change
    add_column :users, :plan_id, :integer
  end
end


####console commands
bundle exec rake db:migrate
git add .
git commit -m "Added association for plans and users"
git push origin stripe_integration

=================================================
#139 DB Plan - Tables and Models, Stripe integration
=================================================

####console commands
git checkout development
git merge user_authentication
git checkout -b stripe_integration
bundle exec rails g migration CreatePlans

####db/migrate/20141223183721_create_plans.rb
class CreatePlans < ActiveRecord::Migration
  def change
    create_table :plans do |t|
      t.string :name
      t.decimal :price
      
      t.timestamps
    end
  end
end

####console commands
bundle exec rake db:migrate

####app/models/plan.rb
class Plan < ActiveRecord::Base
  
end


####console commands
bundle exec rails c
> Plan.create(name: 'basic', price: 0)
> Plan.create(name: 'pro', price: 10)
> exit

git add .
git commit -m "Added plan model and db table"
git push origin stripe_integration


=================================================
#137 Navbar User Links
=================================================
####app/views/layouts/application.html.erb
<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-users"></i>
        Dev Match
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
 
 
 
 
 
 
 
      
      <div class="nav navbar-nav navbar-right">
        <% if current_user %> 
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success navbar-btn', method: :get %>
        <% end %>
      </div>
 
 
 
 
 
 
 
 
 
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
 </nav>
<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  
  <%= yield %>
</div>
  
</body>
</html>




####app/views/devise/sessions/new.html.erb
...
<%= f.submit "Log in", class: 'btn btn-primary' %>
...


####console commands
git add .
git commit -m "Updated navbar with user links"
git push origin user_authentication


=================================================
#136 Devise forms
=================================================

####app/views/devise/registrations/new.html.erb
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
    <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Sign up", class: 'btn btn-success' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



####app/views/devise/sessions/new.html.erb
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions form-group">
            <%= f.submit "Log in", class: 'btn btn-success' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



####console commands
git add .
git commit -m "Added bootstrap classes to devise forms"
git push origin user_authentication

=================================================
#135 Add Devise
=================================================

####console commands
git checkout -b user_authentication

####Gemfile
...
gem 'devise', '3.4.1'
...

####console commands
bundle install
git add .
git commit -m "Added devise gem for users"
git push origin user_authentication
bundle exec rails generate devise:install
bundle exec rails generate devise User
bundle exec rake db:migrate
bundle exec rails g devise:views
git add .
git commit -m "Installed devise"
git push origin user_authentication

=================================================
#132
=================================================
####console commands
git checkout development
git merge contact_form
git push origin development
git checkout master
git merge development
git push origin master
git push heroku master
heroku run rake db:migrate
heroku domains
heroku addons:add sendgrid:starter
(add your card info at https://heroku.com/verify)
heroku addons:add sendgrid:starter


####config/environment.rb
# Load the Rails application.
require File.expand_path('../application', __FILE__)

# Initialize the Rails application.
Rails.application.initialize!

ActionMailer::Base.smtp_settings = {
  :address => 'smtp.sendgrid.net',
  :port => '587',
  :authentication => :plain,
  :user_name => ENV['SENDGRID_USERNAME'],
  :password => ENV['SENDGRID_PASSWORD'],
  :domain => 'heroku.com',
  :enable_startstls_auto => true
}

####console commands
git status
git add .
git commit -m "Added actionmailer settings"
git push origin master
git push heroku master

=================================================
#131
=================================================
####app/controllers/contacts_controller.rb
...
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    name = params[:contact][:name]
    email = params[:contact][:email]
    body = params[:contact][:comments]
    
    ContactMailer.contact_email(name, email, body).deliver
    
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end
...

####console commands
git add .
git commit -m "Added mailer and view"
git push origin contact_form
=================================================
#130
=================================================
####app/views/contact_mailer/contact_email.html.erb
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>

=================================================
#129
=================================================

####console commands
git add .
git commit -m "Added validations and create action"
git push origin contact_form

####app/mailers/contact_mailer.rb
class ContactMailer < ActionMailer::Base
  default to: 'your@email_address.com'
  
  def contact_email(name, email, body)
    @name = name
    @email = email
    @body = body
    
    mail(from: email, subject: 'Contact Form Message')
  end
end

=================================================
#125
=================================================

####app/models/contact.rb
class Contact < ActiveRecord::Base
  validates :name, presence: true
  validates :email, presence: true
end

=================================================
#124
=================================================

####app/controllers/contacts_controller.rb
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end

####app/views/layouts/application.html.erb
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>

=================================================
#123
=================================================


=================================================
#122 Save to database
=================================================

####app/controllers/contacts_controller.rb
...
  def create
    @contact = Contact.new(contact_params)
    
    if @contact.save
      redirect_to new_contact_path, notice: "Message sent."
    else
      redirect_to new_contact_path, notice: "Error occured."
    end
  end
  
  private
    def contact_params
      params.require(:contact).permit(:name, :email, :comments)
    end
...

####app/controllers/contacts_controller.rb
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end

####app/views/layouts/application.html.erb
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>



=================================================
#121 
=================================================

####app/views/layouts/application.html.erb
<li><%= link_to "Contact Us", new_contact_path %></li>

####console commands
git add .
git commit -m "Added contact page to nav bar"
git push origin contact_form

=================================================
#120 Rails console 
=================================================

####console commands
bundle exec rails console

=================================================
#119 Contact Form
=================================================

####app/controllers/contacts_controller.rb
class ContactsController < ApplicationController
  def new
    @contact = Contact.new
  end
...

####app/views/contacts/new.html.erb
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

####console commands
git add .
git commit -m "Created contact form view"
git push origin contact_form


=================================================
#118 Contact Routes
=================================================

####config/routes.rb
resources :contacts

####console commands
bundle exec rake routes
git add .
git commit -m "Added contacts route"
git push origin contact_form


=================================================
#117 Create Contacts Controller
=================================================

####app/controllers/contacts_controller.rb
class ContactsController < ApplicationController
  def new
  end
  
  def create
  end
end

####console commands
git add .
git commit -m "Added contacts controller"


=================================================
#116 Contact model file
=================================================

####app/models/contact.rb
class Contact < ActiveRecord::Base
  
end

####console commands
git status
git add .
git commit -m "Added contacts table and model"
git push origin contact_form




=================================================
#115 Contacts Database
=================================================

####console commands
cd workspace/simplecodecasts_saas
git status
git checkout development
git merge layout_improvements
git checkout -b contact_form
bundle exec rails generate migration CreateContacts

####db/migrate/xyz_create_contacts.rb
class CreateContacts < ActiveRecord::Migration
  def change
    create_table :contacts do |t|
      t.string :name
      t.string :email
      t.text :comments
      
      t.timestamps
    end
  end
end

####console commands
bundle exec rake db:migrate




=================================================
#112 Step 
=================================================

####app/views/layouts/application.html.erb
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

####app/assets/stylesheets/custom.css.scss
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git add .
git commit -m "Reorganized css"
git push origin layout_improvements


==================================================
#111 Step Font awesome
=================================================

####app/views/layouts/application.html.erb
...
<title>Dev Match</title>
...
<%= link_to root_path, class: 'navbar-brand' do %>
	<i class="fa fa-users"></i>
	Dev Match
<% end %>
...

####Gemfile
...
gem 'font-awesome-sass', '4.2.0'
...

####app/assets/stylesheets/application.css.scss
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git status
git add .
git commit -m "Added font awesome gem and logo to navbar"
git push origin layout_improvements



####################################################
=================================================



