=================================================
#125
=================================================

=================================================
#125
=================================================

=================================================
#125
=================================================

=================================================
#125
=================================================

=================================================
#125
=================================================

=================================================
#125
=================================================

=================================================
#132
=================================================

=================================================
#131
=================================================
####app/controllers/contacts_controller.rb
...
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    name = params[:contact][:name]
    email = params[:contact][:email]
    body = params[:contact][:comments]
    
    ContactMailer.contact_email(name, email, body).deliver
    
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end
...

####console commands
git add .
git commit -m "Added mailer and view"
git push origin contact_form
=================================================
#130
=================================================
####app/views/contact_mailer/contact_email.html.erb
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>

=================================================
#129
=================================================

####console commands
git add .
git commit -m "Added validations and create action"
git push origin contact_form

####app/mailers/contact_mailer.rb
class ContactMailer < ActionMailer::Base
  default to: 'your@email_address.com'
  
  def contact_email(name, email, body)
    @name = name
    @email = email
    @body = body
    
    mail(from: email, subject: 'Contact Form Message')
  end
end

=================================================
#125
=================================================

####app/models/contact.rb
class Contact < ActiveRecord::Base
  validates :name, presence: true
  validates :email, presence: true
end

=================================================
#124
=================================================

####app/controllers/contacts_controller.rb
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end

####app/views/layouts/application.html.erb
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>

=================================================
#123
=================================================


=================================================
#122 Save to database
=================================================

####app/controllers/contacts_controller.rb
...
  def create
    @contact = Contact.new(contact_params)
    
    if @contact.save
      redirect_to new_contact_path, notice: "Message sent."
    else
      redirect_to new_contact_path, notice: "Error occured."
    end
  end
  
  private
    def contact_params
      params.require(:contact).permit(:name, :email, :comments)
    end
...

####app/controllers/contacts_controller.rb
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end

####app/views/layouts/application.html.erb
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>



=================================================
#121 
=================================================

####app/views/layouts/application.html.erb
<li><%= link_to "Contact Us", new_contact_path %></li>

####console commands
git add .
git commit -m "Added contact page to nav bar"
git push origin contact_form

=================================================
#120 Rails console 
=================================================

####console commands
bundle exec rails console

=================================================
#119 Contact Form
=================================================

####app/controllers/contacts_controller.rb
class ContactsController < ApplicationController
  def new
    @contact = Contact.new
  end
...

####app/views/contacts/new.html.erb
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

####console commands
git add .
git commit -m "Created contact form view"
git push origin contact_form


=================================================
#118 Contact Routes
=================================================

####config/routes.rb
resources :contacts

####console commands
bundle exec rake routes
git add .
git commit -m "Added contacts route"
git push origin contact_form


=================================================
#117 Create Contacts Controller
=================================================

####app/controllers/contacts_controller.rb
class ContactsController < ApplicationController
  def new
  end
  
  def create
  end
end

####console commands
git add .
git commit -m "Added contacts controller"


=================================================
#116 Contact model file
=================================================

####app/models/contact.rb
class Contact < ActiveRecord::Base
  
end

####console commands
git status
git add .
git commit -m "Added contacts table and model"
git push origin contact_form




=================================================
#115 Contacts Database
=================================================

####console commands
cd workspace/simplecodecasts_saas
git status
git checkout development
git merge layout_improvements
git checkout -b contact_form
bundle exec rails generate migration CreateContacts

####db/migrate/xyz_create_contacts.rb
class CreateContacts < ActiveRecord::Migration
  def change
    create_table :contacts do |t|
      t.string :name
      t.string :email
      t.text :comments
      
      t.timestamps
    end
  end
end

####console commands
bundle exec rake db:migrate




=================================================
#112 Step 
=================================================

####app/views/layouts/application.html.erb
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

####app/assets/stylesheets/custom.css.scss
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git add .
git commit -m "Reorganized css"
git push origin layout_improvements


==================================================
#111 Step Font awesome
=================================================

####app/views/layouts/application.html.erb
...
<title>Dev Match</title>
...
<%= link_to root_path, class: 'navbar-brand' do %>
	<i class="fa fa-users"></i>
	Dev Match
<% end %>
...

####Gemfile
...
gem 'font-awesome-sass', '4.2.0'
...

####app/assets/stylesheets/application.css.scss
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git status
git add .
git commit -m "Added font awesome gem and logo to navbar"
git push origin layout_improvements



####################################################
=================================================



