

=================================================
#152
=================================================


=================================================
#151
=================================================


=================================================
#150
=================================================


=================================================
#149
=================================================


=================================================
#148 - Add Stripe js
=================================================
####app/views/layouts/application.html.erb
(Add two lines in the <head> section - this is the latest version of this file, yours should look like this)
<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-users"></i>
        Dev Match
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <div class="nav navbar-nav navbar-right">
        <% if current_user %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
  
<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  
  <%= yield %>
</div>
  
</body>
</html>




####app/assets/javascripts/users.js
$(document).ready(function() {
  Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
  // Watch for a form submission:
  $("#form-submit-btn").click(function(event) {
    event.preventDefault();
    $('input[type=submit]').prop('disabled', true);
    var error = false;
    var ccNum = $('#card_number').val(),
        cvcNum = $('#card_code').val(),
        expMonth = $('#card_month').val(),
        expYear = $('#card_year').val();

    if (!error) {
      // Get the Stripe token:
      Stripe.createToken({
        number: ccNum,
        cvc: cvcNum,
        exp_month: expMonth,
        exp_year: expYear
      }, stripeResponseHandler);
    }
    return false;
  }); // form submission
  
  function stripeResponseHandler(status, response) {
    // Get a reference to the form:
    var f = $("#new_user");

    // Get the token from the response:
    var token = response.id;

    // Add the token to the form:
    f.append('<input type="hidden" name="user[stripe_card_token]" value="' + token + '" />');

    // Submit the form:
    f.get(0).submit(); 
  }
});


####console commands
git add .
git commit -m "Added stripe js"
git push origin stripe_integration

=================================================
#147 - Updated forms for stripe
=================================================

####app/views/devise/registrations/_basic_form.html.erb
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'basic_form'}) do |f| %>
...
<%= hidden_field_tag 'plan', params[:plan] %>
...


####app/views/devise/registrations/_pro_form.html.erb
...
<%= hidden_field_tag 'plan', params[:plan] %>
...
<%= f.submit "Sign up", class: 'btn btn-success', id: 'form-submit-btn' %>
...


####console commands
git add .
git commit -m "Updated forms for stripe"
git push origin stripe_integration



=================================================
#145 Stripe and Figaro gems
=================================================

####Gemfile
source 'https://rubygems.org'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.1.0'
# Use sqlite3 as the database for Active Record
gem 'sqlite3', group: [:development, :test]

# Use postgresql as the database for production
group :production do
  gem 'pg'
  gem 'rails_12factor'
end

# Use SCSS for stylesheets
gem 'sass-rails', '4.0.3'
# Use bootstrap library for styles
gem 'bootstrap-sass', '3.3.1'
# Use font awesome library for icons
gem 'font-awesome-sass', '4.2.0'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '1.3.0'
# Use CoffeeScript for .js.coffee assets and views
gem 'coffee-rails', '4.0.0'
# See https://github.com/sstephenson/execjs#readme for more supported runtimes
# gem 'therubyracer',  platforms: :ruby

# Use jquery as the JavaScript library
gem 'jquery-rails'
# Turbolinks makes following links in your web application faster. Read more: https://github.com/rails/turbolinks
# gem 'turbolinks'
# Build JSON APIs with ease. Read more: https://github.com/rails/jbuilder
gem 'jbuilder', '2.0'
# bundle exec rake doc:rails generates the API under doc/api.
gem 'sdoc', '0.4.0',          group: :doc

# Spring speeds up development by keeping your application running in the background. Read more: https://github.com/rails/spring
gem 'spring',        group: :development

# Use devise for user auth
gem 'devise', '3.4.1'

# Use stripe for handling payments
gem 'stripe', '1.16.1'

# Use figaro to hide secret keys
gem 'figaro', '1.0.0'

# Use ActiveModel has_secure_password
# gem 'bcrypt', '3.1.7'

# Use unicorn as the app server
# gem 'unicorn'

# Use Capistrano for deployment
# gem 'capistrano-rails', group: :development

# Use debugger
# gem 'debugger', group: [:development, :test]



####console commands
bundle install


####app/views/layouts/application.html.erb
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>


####app/assets/javascripts/application.js (remove this one line)
//= require turbolinks

####console commands
git add .
git commit -m "Added stripe and figaro gems"
git push origin stripe_integration
bundle exec figaro install


####.gitignore
# See https://help.github.com/articles/ignoring-files for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile '~/.gitignore_global'

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore application configuration
/config/application.yml



####config/initializers/stripe.rb
Stripe.api_key = ENV["stripe_api_key"]
STRIPE_PUBLIC_KEY = ENV["stripe_publishable_key"]


####config/application.yml (Put your keys in this file)
...
stripe_api_key: sk_test_j4pitqOhsguy2ycyS29ypoF6
stripe_publishable_key: pk_test_opJrdVYavI0jqtE9pjKLxVvK
#
production:
  stripe_api_key: sk_test_j4pitqOhsguy2ycyS29ypoF6
  stripe_publishable_key: pk_test_opJrdVYavI0jqtE9pjKLxVvK


####console commands
git add .
git commit -m "Added stripe keys"
git push origin stripe_integration


=================================================
#144 - Stripe theory
=================================================


=================================================
#143 Add Credit cards fields
=================================================
####app/views/devise/registrations/new.html.erb
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"> 
    
    <% if params[:plan] == '2' %>
      <h1>Pro Account</h1>
      <p>Sign up for the pro account for $10/month. You support community and get access to the community extra resources and more benefits!</p>
    <% else %>
      <h1>Basic Account</h1>
      <p>Sign up for free and get basic access to the community.</p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
    <h2>Sign up</h2>
      
      <% if params[:plan] == '2' %>
        <%= render "pro_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


####app/views/devise/registrations/_basic_form.html.erb
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>


####app/views/devise/registrations/_pro_form.html.erb
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :card_number, "Credit Card Number" %>
    <%= text_field_tag :card_number, nil, name: nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= text_field_tag :card_code, nil, name: nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
  </div>

  <div class="actions form-group">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>


####console commands
git add .
git commit -m "Modified sign up form"
git push origin stripe_integration

=================================================
#142 - Send parameters for plans
=================================================
####app/controllers/pages_controller.rb
  def home
    @basic_plan = Plan.find(1)
    @pro_plan = Plan.find(2)
  end


####app/views/pages/home.html.erb
...
<%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
...
<%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>


####console commands
git add .
git commit -m "Added plan variables and params to home page"
git push origin stripe_integration

=================================================
#141
=================================================

####app/views/pages/home.html.erb
<div class="jumbotron text-center">
  <h1>Welcome to Dev Match</h1>
  <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Membership</h2>
      <h4>Sign up for free and get basic access to the community.</h4>
      <br/>
      <%= link_to "Sign up with Basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Pro Membership</h2>
      <h4>Sign up for the pro account for $10/month and get access to the community and contact information!</h4>
      <%= link_to "Sign up with Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>


####app/views/layouts/application.html.erb
remove this line:
<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success navbar-btn', method: :get %>


####console commands
git add .
git commit -m "Added sign up links to home page"
git push origin stripe_integration


=================================================
#140
=================================================

####app/models/plan.rb
class Plan < ActiveRecord::Base
  has_many :users
end

####app/models/user.rb
...
belongs_to :plan
...


####console commands
bundle exec rails g migration AddPlanToUser


####db/migrate/xyz_add_plan_to_user.rb
class AddPlanToUser < ActiveRecord::Migration
  def change
    add_column :users, :plan_id, :integer
  end
end


####console commands
bundle exec rake db:migrate
git add .
git commit -m "Added association for plans and users"
git push origin stripe_integration

=================================================
#139 DB Plan - Tables and Models, Stripe integration
=================================================

####console commands
git checkout development
git merge user_authentication
git checkout -b stripe_integration
bundle exec rails g migration CreatePlans

####db/migrate/20141223183721_create_plans.rb
class CreatePlans < ActiveRecord::Migration
  def change
    create_table :plans do |t|
      t.string :name
      t.decimal :price
      
      t.timestamps
    end
  end
end

####console commands
bundle exec rake db:migrate

####app/models/plan.rb
class Plan < ActiveRecord::Base
  
end


####console commands
bundle exec rails c
> Plan.create(name: 'basic', price: 0)
> Plan.create(name: 'pro', price: 10)
> exit

git add .
git commit -m "Added plan model and db table"
git push origin stripe_integration


=================================================
#137 Navbar User Links
=================================================
####app/views/layouts/application.html.erb
<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-users"></i>
        Dev Match
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
 
 
 
 
 
 
 
      
      <div class="nav navbar-nav navbar-right">
        <% if current_user %> 
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success navbar-btn', method: :get %>
        <% end %>
      </div>
 
 
 
 
 
 
 
 
 
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
 </nav>
<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  
  <%= yield %>
</div>
  
</body>
</html>




####app/views/devise/sessions/new.html.erb
...
<%= f.submit "Log in", class: 'btn btn-primary' %>
...


####console commands
git add .
git commit -m "Updated navbar with user links"
git push origin user_authentication


=================================================
#136 Devise forms
=================================================

####app/views/devise/registrations/new.html.erb
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
    <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Sign up", class: 'btn btn-success' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



####app/views/devise/sessions/new.html.erb
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions form-group">
            <%= f.submit "Log in", class: 'btn btn-success' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



####console commands
git add .
git commit -m "Added bootstrap classes to devise forms"
git push origin user_authentication

=================================================
#135 Add Devise
=================================================

####console commands
git checkout -b user_authentication

####Gemfile
...
gem 'devise', '3.4.1'
...

####console commands
bundle install
git add .
git commit -m "Added devise gem for users"
git push origin user_authentication
bundle exec rails generate devise:install
bundle exec rails generate devise User
bundle exec rake db:migrate
bundle exec rails g devise:views
git add .
git commit -m "Installed devise"
git push origin user_authentication

=================================================
#132
=================================================
####console commands
git checkout development
git merge contact_form
git push origin development
git checkout master
git merge development
git push origin master
git push heroku master
heroku run rake db:migrate
heroku domains
heroku addons:add sendgrid:starter
(add your card info at https://heroku.com/verify)
heroku addons:add sendgrid:starter


####config/environment.rb
# Load the Rails application.
require File.expand_path('../application', __FILE__)

# Initialize the Rails application.
Rails.application.initialize!

ActionMailer::Base.smtp_settings = {
  :address => 'smtp.sendgrid.net',
  :port => '587',
  :authentication => :plain,
  :user_name => ENV['SENDGRID_USERNAME'],
  :password => ENV['SENDGRID_PASSWORD'],
  :domain => 'heroku.com',
  :enable_startstls_auto => true
}

####console commands
git status
git add .
git commit -m "Added actionmailer settings"
git push origin master
git push heroku master

=================================================
#131
=================================================
####app/controllers/contacts_controller.rb
...
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    name = params[:contact][:name]
    email = params[:contact][:email]
    body = params[:contact][:comments]
    
    ContactMailer.contact_email(name, email, body).deliver
    
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end
...

####console commands
git add .
git commit -m "Added mailer and view"
git push origin contact_form
=================================================
#130
=================================================
####app/views/contact_mailer/contact_email.html.erb
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>

=================================================
#129
=================================================

####console commands
git add .
git commit -m "Added validations and create action"
git push origin contact_form

####app/mailers/contact_mailer.rb
class ContactMailer < ActionMailer::Base
  default to: 'your@email_address.com'
  
  def contact_email(name, email, body)
    @name = name
    @email = email
    @body = body
    
    mail(from: email, subject: 'Contact Form Message')
  end
end

=================================================
#125
=================================================

####app/models/contact.rb
class Contact < ActiveRecord::Base
  validates :name, presence: true
  validates :email, presence: true
end

=================================================
#124
=================================================

####app/controllers/contacts_controller.rb
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end

####app/views/layouts/application.html.erb
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>

=================================================
#123
=================================================


=================================================
#122 Save to database
=================================================

####app/controllers/contacts_controller.rb
...
  def create
    @contact = Contact.new(contact_params)
    
    if @contact.save
      redirect_to new_contact_path, notice: "Message sent."
    else
      redirect_to new_contact_path, notice: "Error occured."
    end
  end
  
  private
    def contact_params
      params.require(:contact).permit(:name, :email, :comments)
    end
...

####app/controllers/contacts_controller.rb
def create
  @contact = Contact.new(contact_params)
  
  if @contact.save
    flash[:success] = 'Message sent.'
    redirect_to new_contact_path
  else
    flash[:danger] = 'Error occured, message has not been sent.'
    redirect_to new_contact_path
  end
end

####app/views/layouts/application.html.erb
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>



=================================================
#121 
=================================================

####app/views/layouts/application.html.erb
<li><%= link_to "Contact Us", new_contact_path %></li>

####console commands
git add .
git commit -m "Added contact page to nav bar"
git push origin contact_form

=================================================
#120 Rails console 
=================================================

####console commands
bundle exec rails console

=================================================
#119 Contact Form
=================================================

####app/controllers/contacts_controller.rb
class ContactsController < ApplicationController
  def new
    @contact = Contact.new
  end
...

####app/views/contacts/new.html.erb
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

####console commands
git add .
git commit -m "Created contact form view"
git push origin contact_form


=================================================
#118 Contact Routes
=================================================

####config/routes.rb
resources :contacts

####console commands
bundle exec rake routes
git add .
git commit -m "Added contacts route"
git push origin contact_form


=================================================
#117 Create Contacts Controller
=================================================

####app/controllers/contacts_controller.rb
class ContactsController < ApplicationController
  def new
  end
  
  def create
  end
end

####console commands
git add .
git commit -m "Added contacts controller"


=================================================
#116 Contact model file
=================================================

####app/models/contact.rb
class Contact < ActiveRecord::Base
  
end

####console commands
git status
git add .
git commit -m "Added contacts table and model"
git push origin contact_form




=================================================
#115 Contacts Database
=================================================

####console commands
cd workspace/simplecodecasts_saas
git status
git checkout development
git merge layout_improvements
git checkout -b contact_form
bundle exec rails generate migration CreateContacts

####db/migrate/xyz_create_contacts.rb
class CreateContacts < ActiveRecord::Migration
  def change
    create_table :contacts do |t|
      t.string :name
      t.string :email
      t.text :comments
      
      t.timestamps
    end
  end
end

####console commands
bundle exec rake db:migrate




=================================================
#112 Step 
=================================================

####app/views/layouts/application.html.erb
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

####app/assets/stylesheets/custom.css.scss
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git add .
git commit -m "Reorganized css"
git push origin layout_improvements


=================================================
#111 Step Font awesome
=================================================

####app/views/layouts/application.html.erb
...
<title>Dev Match</title>
...
<%= link_to root_path, class: 'navbar-brand' do %>
	<i class="fa fa-users"></i>
	Dev Match
<% end %>
...

####Gemfile
...
gem 'font-awesome-sass', '4.2.0'
...

####app/assets/stylesheets/application.css.scss
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git status
git add .
git commit -m "Added font awesome gem and logo to navbar"
git push origin layout_improvements


=================================================




